/* CSS for larger screens */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    z-index: 1000;
}

.left-icon {
    margin-right: auto;
}

.left-icon img {
    height: 60px; /* Decrease height for smaller screens */
    width: auto;
}

.right-links {
    display: flex;
    align-items: center;
}

.right-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 5px;
    font-size: 14px;
    position: relative;
}

.right-links a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #25d865;
    transition: width 0.3s;
}

.right-links a:hover::before {
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .left-icon img {
        height: 50px; /* Adjust height for smaller screens */
    }

    .right-links {
        display: none; /* Hide right links by default */
        position: absolute;
        top: 80px; /* Adjust top position to align with navbar */
        right: 0;
        background-color: black;
        flex-direction: column; /* Align links vertically */
        z-index: 999; /* Ensure links are above other content */
    }

    .right-links.active {
        display: flex; /* Display right links when menu is active */
    }

    .right-links a {
        padding: 10px 20px; /* Add padding to links */
        margin: 0; /* Remove margin */
    }
}
